extends layouts/main.pug

block variables
    - var title = 'Homepage';

block content
    .container-fluid.sticky-top.bg-white.p-2
        .row
            .col
                h1#logo.logo
                    a(href='https://konrad.la/' title='Wybieraj najlepsze doświadczenia')
                        img.mw-100(src=require('~images/logo.svg') alt='Wybieraj najlepsze doświadczenia') 
            .col
                #hamburger
                    .inner
                        span
                        span
                        span
                        span
                        span
                        span
    .container
        .row
            .col-md-6
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas facilis provident deleniti minima illum amet laudantium eos maxime, illo sed, cumque praesentium placeat cupiditate adipisci vel consectetur tenetur corrupti quo!